body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(188, 58%, 87%)
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgb(188, 226, 252), rgb(25, 90, 116));
    overflow: hidden;
    max-width: 300px;
    border-radius: 20px;
}

#display {
    width: 100%;
    padding: 8px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-image: linear-gradient(rgb(157, 175, 187), rgb(25, 90, 116));
    color: white;

}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    color: rgb(255, 79, 79);
    /* background-image: linear-gradient(rgb(188, 226, 252), rgb(25, 90, 116)); */
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}

h2 {
    font-size: .8rem;
    color: green;
}
.eq{
    background-color: black;
}

button:hover {
    background-color: rgba(0, 133, 241, 0.671);

}

button:active {
    background-color: rgb(153, 255, 0);
}

.opretor-btn {
    background-color: hsl(216, 85%, 8%);

}

.opretor-btn:hover {
    background-color: hsl(216, 89%, 59%);
}

.opretor-btn:active {
    background-color: hsl(35, 100%, 75%);
    ;
}